@model MolecularMosaicCrudViewModel
@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container flex-horizontal-center">
    <div class="admin-container">
        <div class="admin-form">
            <div class="form-btn-container">
                <a class="form-main-btn" asp-action="Index">Return</a>
            </div>
            <div class="form-header-container molecular-color">
                <div class="form-header-count">Edit</div>
                <div class="form-header-name">Molecular mosaics</div>
            </div>
            <div class="form-table-container">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MolecularMosaic!.Id" />
                    <!-- Other form fields here -->

                    <div class="form-group">
                        <label asp-for="MolecularMosaic!.Title" class="control-label"></label>
                        <input asp-for="MolecularMosaic!.Title" class="form-control" />
                        <span asp-validation-for="MolecularMosaic!.Title" class="text-danger"></span>
                    </div>

                    <!-- IsVisible -->
                    <div class="form-group">
                        <label asp-for="@Model.MolecularMosaic!.IsVisible" class="control-label"></label>
                        <div>
                            <input type="radio" asp-for="@Model.MolecularMosaic!.IsVisible" value="true" /> Yes
                            <input type="radio" asp-for="@Model.MolecularMosaic!.IsVisible" value="false" /> No
                        </div>
                        <span asp-validation-for="@Model.MolecularMosaic!.IsVisible" class="text-danger"></span>
                    </div>

                    <!-- PdfFilePath -->
                    <div class="form-group">
                        <label asp-for="@Model.MolecularMosaic!.PdfFilePath" class="control-label"></label>
                        <input asp-for="@Model.MolecularMosaic!.PdfFilePath" class="form-control" />
                        <span asp-validation-for="@Model.MolecularMosaic!.PdfFilePath" class="text-danger"></span>
                    </div>

                    <!-- AudioFilePath -->
                    <div class="form-group">
                        <label asp-for="@Model.MolecularMosaic!.AudioFilePath" class="control-label"></label>
                        <input asp-for="@Model.MolecularMosaic!.AudioFilePath" class="form-control" />
                        <span asp-validation-for="@Model.MolecularMosaic!.AudioFilePath" class="text-danger"></span>
                    </div>

                    <!-- AssemblageTags -->
                    <div class="form-group">
                        <label asp-for="@Model.MolecularMosaic!.AssemblageTagId" class="control-label">Select an Assemblage Tag</label>
                        <select asp-for="@Model.MolecularMosaic!.AssemblageTagId" asp-items="Model.AssemblageTagsItemList" class="form-control">
                            <option value="">Select...</option>
                        </select>
                        <span asp-validation-for="@Model.MolecularMosaic!.AssemblageTagId" class="text-danger"></span><br />
                    </div>

                    <!-- ConnectorTags -->
                    <div class="form-group flex-column">
                        <label class="control-label">Select Connector Tags</label>
                        <div class="flex-row">
                            @foreach (var item in Model.ConnectorTagsItemList ?? Enumerable.Empty<SelectListItem>())
                            {
                                <input type="checkbox" name="SelectedConnectorsTagsIds" value="@item.Value" id="connectorTag_@item.Value" @(item.Selected ? "checked" : "") />
                                <label class="form-check-label" for="connectorTag_@item.Value">@item.Text</label>
                            }
                        </div>
                    </div>

                    <!-- KaleidoscopeTags -->
                    <div class="form-group flex-column">
                        <label class="control-label">Select Kaleidoscope Tags</label>
                        <div class="flex-row">
                            @foreach (var item in Model.KaleidoscopeTagsItemList ?? Enumerable.Empty<SelectListItem>())
                            {
                                <input type="checkbox" name="SelectedKaleidoscopeTagsIds" value="@item.Value" id="kaleidoscopeTag_@item.Value" @(item.Selected ? "checked" : "") />
                                <label class="form-check-label" for="kaleidoscopeTag_@item.Value">@item.Text</label>
                            }
                        </div>
                    </div>

                    <!-- Becomings -->
                    <div class="form-group">

                        <label asp-for="Becomings" class="control-label"></label>
                        <input asp-for="Becomings" value="@Model.Becomings" class="form-control inputbecomings" multiple="multiple" />

                    </div>

                    <!-- Content -->
                    <div class="form-group">
                        <label asp-for="MolecularMosaic!.Content" class="control-label"></label>
                        <input type="hidden" id="hiddeninput" asp-for="MolecularMosaic!.Content" class="form-control" />
                        <div class="editor-layout">
                            <div id="editortest">
                                @Html.Raw(Model.MolecularMosaic!.Content)
                            </div>
                        </div>
                        <span asp-validation-for="MolecularMosaic!.Content" class="text-danger"></span>
                    </div>
                    <div class="form-btn-container flex-row-reverse">
                        <button class="form-main-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
