@model List<FileViewViewModel>
@{
    ViewData["Title"] = "Admin";
    var itemIndex = 0;
    var nrPDF = Model.Count(item => item.Category == MimeDetective.Storage.Category.Document);
    var nrAudio = Model.Count(item => item.Category == MimeDetective.Storage.Category.Audio);
    var nrVideo = Model.Count(item => item.Category == MimeDetective.Storage.Category.Video || 
                                      item.Category == MimeDetective.Storage.Category.Compressed);
    var nrUnknown = Model.Count(item => item.Category != MimeDetective.Storage.Category.Document &&
                                        item.Category != MimeDetective.Storage.Category.Audio &&
                                        item.Category != MimeDetective.Storage.Category.Video &&
                                        item.Category != MimeDetective.Storage.Category.Compressed);
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container flex-horizontal-center">
    <div class="admin-container">
        <div class="admin-form">
            <div class="form-btn-container">
                <a class="form-main-btn" asp-controller="Admin" asp-action="Index">Return</a>
            </div>
            <div class="files-header-container">
                <div class="files-header pdf-color">
                    <div class="form-header-count">@nrPDF</div>
                    <div class="form-header-name">PDF</div>
                </div>
                <div class="files-header audio-color">
                    <div class="form-header-count">@nrAudio</div>
                    <div class="form-header-name">Audio</div>
                </div>
                <div class="files-header video-color">
                    <div class="form-header-count">@nrVideo</div>
                    <div class="form-header-name">Video</div>
                </div>
                <div class="files-header unknown-color">
                    <div class="form-header-count">@nrUnknown</div>
                    <div class="form-header-name">Unknown</div>
                </div>
            </div>
            <div class="form-table-container">
            @using (Html.BeginForm("FileUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="files-upload-container">
                    <div class="files-upload-text">
                        <label for="files" class="btn">Choose a file to upload</label>
                    </div>
                    <div class="files-upload-text">
                        <input required type="file" name="file" id="files" />
                    </div>
                    <div class="files-upload-materials-switch">
                        <label for="IsMaterial">Materials</label>
                        <label class="switch">
                            <input name="IsMaterial" id="switchinput" type="checkbox" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <input class="form-main-btn" type="submit" value="Upload file" />
                </div>
                <div class="files-upload-name">No file chosen</div>
            }
            </div>
        </div>
    </div>
</div>
@* <div class="main-container flex-center">
    <div class="fileview-container">
        <div class="file-heading">
            <a class="form-return-btn" asp-controller="Admin" asp-action="Index">Return</a>
            <div class="file-upload">
                @using (Html.BeginForm("FileUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <label for="files" class="btn">Choose a file</label>
                        <input required type="file" name="file" id="files" />
                    </div>
                    <div class="file-upload-seconddiv">
                        <div class="switchdiv">
                            <label for="IsMaterial">Materials</label>
                            <label class="switch">
                                <input name="IsMaterial" id="switchinput" type="checkbox" value="true">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <input class="form-return-btn" type="submit" value="Upload file" />
                    </div>
                }
            </div>
            <form id="saveMaterialsForm" method="post" asp-action="UpdateMaterials" asp-controller="Admin">
                <input type="hidden" name="materialsData" id="materialsData">
            </form>
            <button onclick="saveMaterialStatus()" class="form-return-btn" asp-controller="Admin" asp-action="Index">Save</button>
        </div>
        <div class="file-container">
            @foreach (var item in Model)
            {
                <div class="files-container">
                    <div class="file-card">
                        @switch (item.Category)
                        {
                            case MimeDetective.Storage.Category.Document:
                                <img src="~/images/icons/pdf.png" />
                                break;
                            case MimeDetective.Storage.Category.Video:
                                <img src="~/images/icons/video.png" />
                                break;
                            case MimeDetective.Storage.Category.Audio:
                                <img src="~/images/icons/audio.png" />
                                break;
                            case MimeDetective.Storage.Category.Compressed:
                                <img src="~/images/icons/video.png" />
                                break;
                            default:
                                <img src="~/images/icons/unknown.png" />
                                break;
                        }
                        <div class="file-options">
                            <div class="file-options-btns">
                                <button onclick="copyFunction('@(item.FileUrl)')">Copy Link</button>
                                <form method="post" asp-action="DeleteFile" asp-controller="Admin">
                                    <input type="hidden" name="FileName" value="@item.Name" />
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                            <div class="file-card-title">@item.Name</div>
                        </div>
                        
                    </div>
                    <div class="material-container">
                        <label class="switch">
                            <input type="checkbox"
                                   id="switchinput-@itemIndex"
                                   value="true"
                                   data-index="@itemIndex"
                                   data-name="@item.Name"
                                   onchange="updateMaterialStatus(this)"
                            @(item.IsMaterial ?? false ? "checked" : "") />
                            <span class="slider round"></span>
                        </label>
                        <label for="switchinput-@itemIndex">Materials</label>
                    </div>
                </div>
                itemIndex++;
            }
        </div>
    </div>
</div> *@
<script src="~/js/admin.js"></script>
