@model User

<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="admintable">

    <h3>Change Password for @ViewBag.Username</h3>

    <form asp-controller="admin">
        <input hidden asp-for="@Model.Username" value="@ViewBag.Username" />
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password"/>

        <button type="submit">Save</button>
    </form>

    @if (!String.IsNullOrEmpty(ViewBag.Success))
    {
        <p>@ViewBag.Success</p>
    }
</div>
