@model DetailViewModel
@{
    var viewModel = Model;
    ViewData["Title"] = viewModel.Title;
    string fileName = System.IO.Path.GetFileName(Model.PdfFilePath)!;
}
<head>
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
</head>
<div class="background-container"></div>
<div class="detail-container">
    @if (viewModel.IsVisible == true)
    {
        <div class="info-container">
            <div class="info-container-title">Table of Contents</div>
            <div class="navmenu" id="navmenu"></div>
            @if (viewModel.ObjectType != "geotag")
            {
                <div class="info-container-title">Connectors</div>
                @if (viewModel.ConnectorTags.Count != 0)
                {
                    <div class="tag-container">
                        @foreach (var tag in viewModel.ConnectorTags)
                        {
                            <div class="tag-object">@tag.Name</div>
                        }
                    </div>
                }
                <div class="info-container-title">Becomings</div>
                @if (viewModel.Becomings.Count != 0)
                {
                    <div>@viewModel.Becomings.Count</div>
                    <div class="tag-container">
                        @foreach (var tag in viewModel.Becomings)
                        {
                            <div class="tag-object">@tag</div>
                        }
                    </div>
                }
            }
        </div>
        <div class="content-container" id="content-container">
            <div class="content-options">
                @if (!String.IsNullOrWhiteSpace(@Model.AudioFilePath))
                {
                    <div id="audio-icon" class="content-options-btn">
                        <img class="play-icon" id="audio-img" src="~/images/icons/play-button-black.png"/>
                        <audio id="audio-player" src="@Model.AudioFilePath"></audio>
                    </div>
                }
                @if (!String.IsNullOrWhiteSpace(@Model.PdfFilePath))
                {
                    <div id="pdf-download-btn" data-tags="@Model.PdfFilePath" class="content-options-btn">
                        <a>
                            <img class="pdf-icon" src="~/images/icons/pdf-download-black.png"/>
                        </a>
                    </div>
                }
            </div>
            <div id="editor-container">
                <div class="text" id="editor">
                    <p>
                        @Html.Raw(viewModel.Content)
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="visibility-container">This content is not visible to the public</div>
    }
</div>
<script src="~/js/detail.js" asp-append-version="true"></script>
