@model DetailViewModel
@{
    var viewModel = Model;
    ViewData["Title"] = viewModel.Title;
    string fileName = System.IO.Path.GetFileName(Model.PdfFilePath);
}

<head>
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
</head>
<div class="detail-container">

    <div id="kolumn1">
        <p class="title">@viewModel.Title</p>
        <p class="tags">Connectors:</p>
        @if (viewModel.ConnectorTags.Count == 0)
        {
            <p class="tags">No connectors</p>
        }
        else
        {
            foreach (var tag in viewModel.ConnectorTags)
            {
                <p class="tags">@tag.Name</p>
            }
        }
        <p class="tags">Becomings:</p>
        @if (viewModel.Becomings.Count == 0)
        {
            <p class="tags">No becomings</p>
        }
        else
        {
            foreach (var tag in viewModel.Becomings)
            {
                <p class="tags">@tag</p>
            }
        }
        <div class="music-controls">
            <a id="saveBtn" data-tags="@Model.PdfFilePath">
            <img class="pdf_icon" src="~/images/icons/favicon.ico"  />
            </a>
            <img id="audio-icon" class="play_icon" src="~/images/icons/play_icon.png" />
            <audio id="audio-player" src="@Model.AudioFilePath"></audio>
        </div>
    </div>
            
    <div id="kolumn2">
        <div class="column3_container">
            <div id="kolumn3">
                <p class="sections">Section A</p>
                <p class="sections">Section 2</p>
                <p class="sections">Section 3</p>
                <p class="sections">Section 3.4</p>
            </div>
            <div class="text" id="editor">
                <h1>@viewModel.Title</h1>
                <p>
                    @Html.Raw(viewModel.Content)
                </p>
            </div>
        </div>
    </div>
</div>
