@model DetailViewModel
@{
    var viewModel = Model;
    ViewData["Title"] = viewModel.Title;
    string fileName = System.IO.Path.GetFileName(Model.PdfFilePath)!;
}

<head>
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
</head>
<div class="detail-container">
    <div class="info-container">
        <p class="info-title">@viewModel.Title</p>
        <p class="tags-title">Assemblage:</p>
        @if (viewModel.AssemblageTag == null)
        {
            <p><em class="tags-content">No Assemblage</em></p>
        }
        else
        {
            <p><em class="tags-content">@Model.AssemblageTag</em></p>
        }
        <p class="tags-title">Connectors:</p>
        @if (viewModel.ConnectorTags.Count == 0)
        {
            <p><em class="tags-content">No connectors</em></p>
        }
        else
        {
            foreach (var tag in viewModel.ConnectorTags)
            {
                <p><em class="tags-content">@tag.Name</em></p>
            }
        }
        <p class="tags-title">Becomings:</p>
        @if (viewModel.Becomings.Count == 0)
        {
            <p><em class="tags-content">No becomings</em></p>
        }
        else
        {
            foreach (var tag in viewModel.Becomings)
            {
                <p><em class="tags-content">@tag</em></p>
            }
        }
        <div class="content-options">
            @if (!String.IsNullOrWhiteSpace(@Model.PdfFilePath))
            {
                <div id="saveBtn" data-tags="@Model.PdfFilePath" class="content-options-btn">
                    <a>
                        <img class="pdf_icon" src="~/images/icons/favicon.ico" />
                    </a>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(@Model.AudioFilePath))
            {
                <div id="audio-icon" class="content-options-btn">
                    <img class="play_icon" id="audio-img" src="~/images/icons/play_icon.png" />
                    <audio id="audio-player" src="@Model.AudioFilePath"></audio>
                </div>
            }
        </div>
    </div>
    <div class="content-container">
        <div class="text" id="editor">
            <p>
                @Html.Raw(viewModel.Content)
            </p>
        </div>
    </div>
</div>
<script src="~/js/detail.js" asp-append-version="true"></script>
