@model List<GeoTag> 
@{
    ViewData["Title"] = "Geotags";
    bool showTutorial = ViewBag.ShowTutorial;
    var geoTagDictionary = Model.ToDictionary(g => g.Id, g => g);
    string? GetGeoTagTitle(Guid Id)
    {
        return geoTagDictionary.ContainsKey(Id) ? geoTagDictionary[Id].Title : "Unknown Title";
    }
}
<head>
    <link rel="stylesheet" href="~/css/geotags.css" asp-append-version="true" />
</head>

<div class="map-container">
    <img src="~/images/backgrounds/blue-white-1.jpg" alt="Map" class="map-image">
    <div class="tag tag1">
        <a href="@Url.Action("Detail", "Home", new {id = "fd12eabc-dfb1-4580-ba7d-a9ef866b6c99", objectType = "geotag" })">
            <div id="link-geotag-1">
                <div class="image-text">@GetGeoTagTitle(new Guid("fd12eabc-dfb1-4580-ba7d-a9ef866b6c99"))</div>
                <img src="~/images/icons/geotag-black.svg" class="geotag" />
            </div>
        </a>
    </div>

    <div class="tag tag2">
        <a href="@Url.Action("Detail", "Home", new {id = "158e036c-e8f5-4948-a83f-de0bc6875198", objectType = "geotag" })">
            <div id="link-geotag-2">
                <div class="image-text">@GetGeoTagTitle(new Guid("158e036c-e8f5-4948-a83f-de0bc6875198"))</div>
                <img src="~/images/icons/geotag-black.svg" class="geotag" />
            </div>
        </a>
    </div>

    <div class="tag tag3">
        <a href="@Url.Action("Detail", "Home", new {id = "7a590b9d-8fca-4bcc-b72f-722ff041e91a", objectType = "geotag" })">
            <div id="link-geotag-3">
                <img src="~/images/icons/geotag-black.svg" class="geotag" />
                <div class="image-text">@GetGeoTagTitle(new Guid("7a590b9d-8fca-4bcc-b72f-722ff041e91a"))</div>
            </div>
        </a>
    </div>

    <div class="tag tag4">
        <a href="@Url.Action("Detail", "Home", new {id = "79d82f63-692e-4f18-9796-6ca685c3c8b4", objectType = "geotag" })">
            <div id="link-geotag-4">
                <img src="~/images/icons/geotag-white.png" class="geotag" />
                <div class="image-text">@GetGeoTagTitle(new Guid("79d82f63-692e-4f18-9796-6ca685c3c8b4"))</div>
            </div>
        </a>
    </div>

    <div class="tag tag5">
        <a href="@Url.Action("Detail", "Home", new {id = "e45771fe-431d-42ee-868e-db6aa83f42ba", objectType = "geotag" })">
            <div id="link-geotag-5">
                <img src="~/images/icons/geotag-white.png" class="geotag" />
                <div class="image-text">@GetGeoTagTitle(new Guid("e45771fe-431d-42ee-868e-db6aa83f42ba"))</div>
            </div>
        </a>
    </div>

    <div class="tag tag6">
        <a href="@Url.Action("Detail", "Home", new {id = "c3eab4be-a4ff-45df-98a3-0127988ab3ba", objectType = "geotag" })">
            <div id="link-geotag-6">
                <div class="image-text">@GetGeoTagTitle(new Guid("c3eab4be-a4ff-45df-98a3-0127988ab3ba"))</div>
                <img src="~/images/icons/geotag-black.svg" class="geotag" />
            </div>
        </a>
    </div>

    <div class="tag tag7">
        <a href="@Url.Action("MolarMosaics", "Home")">
            <div id="link-molarmosaics">
                <img src="~/images/icons/geotag-white.png" class="geotag" />
                <div class="image-text">Molar Mosaics</div>
            </div>
            <img id="mosaic-yellow-1" src="~/images/mosaics/mosaic-yellow-1.png" />
            <img id="mosaic-yellow-2" src="~/images/mosaics/mosaic-yellow-1.png" />
            <img id="mosaic-yellow-3" src="~/images/mosaics/mosaic-yellow-1.png" />
        </a>
    </div>

    <div class="tag tag8">
        <a href="@Url.Action("MolecularMosaics", "Home")">
            <div id="link-molecularmosaics">
                <img src="~/images/icons/geotag-white.png" class="geotag" />
                <div class="image-text">Molecular Mosaics</div>
            </div>
            <img id="mosaic-blue-1" src="~/images/mosaics/mosaic-blue-6.png" />
            <img id="mosaic-blue-2" src="~/images/mosaics/mosaic-blue-6.png" />
            <img id="mosaic-blue-3" src="~/images/mosaics/mosaic-blue-6.png" />
            <img id="mosaic-blue-4" src="~/images/mosaics/mosaic-blue-6.png" />
            <img id="mosaic-blue-5" src="~/images/mosaics/mosaic-blue-6.png" />
        </a>
    </div>

    <div class="tag tag9">
        <a href="@Url.Action("Kaleidoscoping", "Home")">
            <div id="link-kaleidoscope">
                <img src="~/images/icons/geotag-white.png" class="geotag" />
                <div class="image-text">Kaleidoscoping</div>
            </div>
        </a>
    </div>

    <div class="tutorial-overlay" id="tutorial-overlay" style="display: @(showTutorial ? "" : "none");">
        <div class="tutorial-box" id="tutorial-box">
            <div class="tutorial-text" id="tutorial-text">@* Text set by javascript *@</div>
            <div class="tutorial-btns">
                <div class="tutorial-prev-btn" id="tutorial-prev-btn">Previous</div>
                <div class="tutorial-step-container" id="tutorial-step-container"></div>
                <div class="tutorial-next-btn" id="tutorial-next-btn">Next</div>
            </div>
            <div class="tutorial-exit-btn" id="tutorial-exit-btn">X</div>
        </div>
    </div>
    
    <div class="highlighter" id="highlighter"></div>
</div>
<script src="~/js/geotags.js" asp-append-version="true"></script>
