@model List<GeoTag> 
@{
    ViewData["Title"] = "Geotags";
    bool showTutorial = ViewBag.ShowTutorial;
    var geoTagDictionary = Model.ToDictionary(g => g.Id, g => g);
    string? GetGeoTagTitle(Guid Id)
    {
        return geoTagDictionary.ContainsKey(Id) ? geoTagDictionary[Id].Title : "Unknown Title";
    }
}
<head>
    <link rel="stylesheet" href="~/css/geotags.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container">
    <a href="@Url.Action("Detail", "Home", new {id = "fd12eabc-dfb1-4580-ba7d-a9ef866b6c99", objectType = "geotag" })">
        <div id="image-container1">
            <div class="image-text">@GetGeoTagTitle(new Guid("fd12eabc-dfb1-4580-ba7d-a9ef866b6c99"))</div>
            <img src="~/images/icons/geotag-black.svg" class="geotag" />
        </div>
    </a>
    <a href="@Url.Action("Detail", "Home", new {id = "158e036c-e8f5-4948-a83f-de0bc6875198", objectType = "geotag" })">
        <div id="image-container2">
            <div class="image-text">@GetGeoTagTitle(new Guid("158e036c-e8f5-4948-a83f-de0bc6875198"))</div>
            <img src="~/images/icons/geotag-black.svg" class="geotag" />
        </div>
    </a>
    <a href="@Url.Action("Detail", "Home", new {id = "7a590b9d-8fca-4bcc-b72f-722ff041e91a", objectType = "geotag" })">
        <div id="image-container3">
            <img src="~/images/icons/geotag-black.svg" class="geotag" />
            <div class="image-text">@GetGeoTagTitle(new Guid("7a590b9d-8fca-4bcc-b72f-722ff041e91a"))</div>
        </div>
    </a>
    <a href="@Url.Action("Detail", "Home", new {id = "79d82f63-692e-4f18-9796-6ca685c3c8b4", objectType = "geotag" })">
        <div id="image-container4">
            <img src="~/images/icons/geotag-white.png" class="geotag" />
            <div class="image-text">@GetGeoTagTitle(new Guid("79d82f63-692e-4f18-9796-6ca685c3c8b4"))</div>
        </div>
    </a>
    <a href="@Url.Action("Detail", "Home", new {id = "e45771fe-431d-42ee-868e-db6aa83f42ba", objectType = "geotag" })">
        <div id="image-container5">
            <img src="~/images/icons/geotag-white.png" class="geotag" />
            <div class="image-text">@GetGeoTagTitle(new Guid("e45771fe-431d-42ee-868e-db6aa83f42ba"))</div>
        </div>
    </a>
    <a href="@Url.Action("Detail", "Home", new {id = "c3eab4be-a4ff-45df-98a3-0127988ab3ba", objectType = "geotag" })">
        <div id="image-container9">
            <div class="image-text">@GetGeoTagTitle(new Guid("c3eab4be-a4ff-45df-98a3-0127988ab3ba"))</div>
            <img src="~/images/icons/geotag-black.svg" class="geotag" />
        </div>
    </a>
    <a href="@Url.Action("MolarMosaics", "Home")">
        <div id="image-container6">
            <img src="~/images/icons/geotag-white.png" class="geotag" />
            <div class="image-text">Molar Mosaics</div>
        </div>
        <img id="yellow-mosaic1" src="~/images/mosaics/mosaic-yellow-1.png" />
        <img id="yellow-mosaic2" src="~/images/mosaics/mosaic-yellow-1.png" />
        <img id="yellow-mosaic3" src="~/images/mosaics/mosaic-yellow-1.png" />
    </a>
    <a href="@Url.Action("MolecularMosaics", "Home")">
        <div id="image-container7">
            <img src="~/images/icons/geotag-white.png" class="geotag" />
            <div class="image-text">Molecular Mosaics</div>
        </div>
        <img id="blue-mosaic1" src="~/images/mosaics/mosaic-blue-6.png" />
        <img id="blue-mosaic2" src="~/images/mosaics/mosaic-blue-6.png" />
        <img id="blue-mosaic3" src="~/images/mosaics/mosaic-blue-6.png" />
        <img id="blue-mosaic4" src="~/images/mosaics/mosaic-blue-6.png" />
        <img id="blue-mosaic5" src="~/images/mosaics/mosaic-blue-6.png" />
    </a>
    <a href="@Url.Action("Kaleidoscoping", "Home")">
        <div id="image-container8">
            <img src="~/images/icons/geotag-white.png" class="geotag" />
            <div class="image-text">Kaleido-scoping</div>
        </div>
    </a>
    <div class="overlay" id="tutorial-overlay" style="display: @(showTutorial ? "" : "none");">
        <div class="overlay-box" id="box-1">
            <p>Welcome to Fragile Mosaics of Teacher Becoming tutorial!</p>
        </div>
        <div class="overlay-box" id="box-2">
            <p>
                When you want to come back to the map view, click on the Teacher Becoming-logo
                in the top left corner.
            </p>
        </div>
        <div class="overlay-box" id="box-3">
            <p>To explore the various texts, click on any of the geotags.</p>
        </div>
        <div class="overlay-box" id="box-4">
            <p>Set Molar Mosaics free and begin exploring them.</p>
        </div>
        <div class="overlay-box" id="box-5">
            <p>Set Molecular Mosaics free and begin exploring them.</p>
        </div>
        <div class="overlay-box" id="box-6">
            <p>Experience a one of a kind Kaleido-scoping mechanism</p>
        </div>
        <div class="overlay-box" id="box-7">
            <p>On the respective Mosaics pages, you will find an expandable filter menu in the bottom right corner.</p>
        </div>
        <div class="cancel-btn">X</div>
        <div class="button-container">
            <button class="back-button" onclick="prevStep()">Back</button>
            <div class="step-bar">
                <div class="step" id="step-1"></div>
                <div class="step" id="step-2"></div>
                <div class="step" id="step-3"></div>
                <div class="step" id="step-4"></div>
                <div class="step" id="step-5"></div>
                <div class="step" id="step-6"></div>
                <div class="step" id="step-7"></div>
            </div>
            <button class="next-button" onclick="nextStep()">Next</button>
        </div>
    </div>
</div>
<script src="~/js/geotags.js" asp-append-version="true"></script>
