@model KaleidoscopingViewModel
@{
    ViewData["Title"] = "Kaleidoscoping";
    var mosaicImages = Enumerable.Range(1, 14).Select(i => $"~/images/mosaics/mosaic-blue-{i}.png").ToArray();
    var random = new Random();
}
<head>
    <link rel="stylesheet" href="~/css/kaleidoscoping.css" asp-append-version="true" />
</head>
<div id="kalei-modal" class="kalei-modal">
    <div class="kalei-modal-content">
        <div class="kalei-modal-close-container">
            <span class="kalei-modal-close">&times;</span>
        </div>
        <div class="text" id="editor">
            <p>
               @Html.Raw(Model.KaleidoscopePage?.Content)
            </p>
        </div>
    </div>
</div>
<div class="background-container background-image"></div>
<div class="main-container">
    <div class="mosaic-name" id="mosaic-name"></div>
    <div class="kaleidoscope-container" id="kaleidoscope-container">
        <div class="kaleidoscope-image-container" id="kaleidoscope-image-container">
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-1">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-1.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-2">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-2.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-3">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-3.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-4">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-4.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-5">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-5.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-6">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-6.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-7">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-7.png"/>
            </div>
            @foreach (var molecularMosaic in Model.MolecularMosaics!)
            {
                var randomBlueMosaicImg = mosaicImages[random.Next(mosaicImages.Length)];
                <a href="@Url.Action("Detail", "Home", new { id = molecularMosaic.Id, objectType = "molecularmosaic" })">
                    <img src="@Url.Content(randomBlueMosaicImg)" class="mosaic"
                         data-name="@molecularMosaic.Title"
                         data-becomings="@if (molecularMosaic.Becomings != null) { @string.Join(',', molecularMosaic.Becomings) }"
                         data-tags="@string.Join(',', molecularMosaic.KaleidoscopeTags!.Select(tag => tag.Id)):@string.Join(':', molecularMosaic.AssemblageTagId)"/>
                </a>
            }
        </div>
    </div>
    <div class="tagmenu">
        <div class="tagmenu-title-container">
            <h2 class="tagmenu-title">Kaleidoscoping</h2>
            <div class="tagmenu-btn" id="tagmenu-btn" data-content="@Model.KaleidoscopePage?.Content">REVISIT</div>
            </div>
        <hr/>
        <ul class="tagList">
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Id.ToString() != "1ac2b7b1-c3bf-4fc3-a5fb-37c88eeb1e97" @* Experiment *@
                && tag.Id.ToString() != "f2d2a02b-73bb-42e4-8774-2102ef9c3102" @* Assemblages *@)
                {
                    <li>
                        <div class="kaleiitem-container">
                            <div class="tag-kaleiitem">
                                <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Id" data-content="@tag.Content" class="custom-radio">
                                <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                            </div>
                            @* <div id="kalei-modal-open">Open Modal</div> *@
                        </div>

                    </li>
                }
            }
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Id.ToString() == "f2d2a02b-73bb-42e4-8774-2102ef9c3102" @* Assemblages *@)
                {
                    <li>
                        <div class="kaleiitem-container">
                            <div class="tag-kaleiitem">
                                <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Id" data-content="@tag.Content" class="custom-radio">
                                <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                            </div>
                        </div>
                    </li>
                }
            }
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Id.ToString() == "1ac2b7b1-c3bf-4fc3-a5fb-37c88eeb1e97" @* Experiment *@)
                {
                    <li>
                        <div class="kaleiitem-container">
                            <div class="tag-kaleiitem">
                                <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Id" data-content="@tag.Content" class="custom-radio">
                                <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                            </div>
                        </div>
                    </li>
                }
            }
            <div id="kalei-modal-open">Enter</div>
        </ul>
    </div>
</div>
<script src="~/js/kaleidoscope.js" asp-append-version="true"></script>
