@model KaleidoscopingViewModel
@{
    ViewData["Title"] = "Kaleido-scoping";
    var mosaicImages = Enumerable.Range(1, 14).Select(i => $"~/images/mosaics/mosaic-blue-{i}.png").ToArray();
    var random = new Random();
}
<head>
    <link rel="stylesheet" href="~/css/kaleidoscoping.css" asp-append-version="true" />
</head>
<div class="content-container">
    <div class="kaleidoscope-container" id="kaleidoscope-container-item">
        <div class="kaleidoscope-image" id="kaleidoscope-image-item">
            <div class="kaleidoscope-test" id="test-item-1">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-1.png" />
            </div>
            <div class="kaleidoscope-test" id="test-item-2">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-2.png" />
            </div>
            <div class="kaleidoscope-test" id="test-item-3">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-3.png" />
            </div>
            <div class="kaleidoscope-test" id="test-item-6">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-4.png" />
            </div>
            <div class="kaleidoscope-test" id="test-item-7">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-5.png" />
            </div>
            <div class="kaleidoscope-test" id="test-item-9">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-6.png" />
            </div>
            <div class="kaleidoscope-test" id="test-item-12">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-7.png" />
            </div>
            @foreach (var molarMosaic in Model.MolarMosaics!)
            {
                var randomBlueMosaicImg = mosaicImages[random.Next(mosaicImages.Length)];
                <a href="@Url.Action("Detail", "Home", new {id = molarMosaic.Id, objectType = "molarmosaic" })">
                    <img src="@Url.Content(randomBlueMosaicImg)" class="mosaic"
                         data-tags="@string.Join(',', molarMosaic.KaleidoscopeTags!.Select(tag => tag.Name)):@string.Join(':', molarMosaic.AssemblageTagId)" />
                </a>
            }
            @foreach (var molecularMosaic in Model.MolecularMosaics!)
            {
                var randomBlueMosaicImg = mosaicImages[random.Next(mosaicImages.Length)];
                <a href="@Url.Action("Detail", "Home", new {id = molecularMosaic.Id, objectType = "molecularmosaic" })">
                    <img src="@Url.Content(randomBlueMosaicImg)" class="mosaic"
                         data-tags="@string.Join(',', molecularMosaic.KaleidoscopeTags!.Select(tag => tag.Name)):@string.Join(':', molecularMosaic.AssemblageTagId)" />
                </a>
            }
        </div>
    </div>

    <div class="tagmenu">
        <h2 class="tagmenu-title">Kaleido-scoping</h2>
        <hr />
        <ul class="tagList">
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if(tag.Name != "Experiment" && tag.Name != "Assemblages")
                {
                    <li>
                        <div class="tag-kaleiitem">
                            <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Name" class="custom-radio">
                            <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                        </div>
                    </li>
                }
            }
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Name == "Assemblages")
                {
                    <li>
                        <div class="tag-kaleiitem">
                            <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Name" class="custom-radio">
                            <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                        </div>
                    </li>
                }
            }
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Name == "Experiment")
                {
                    <li>
                        <div class="tag-kaleiitem">
                            <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Name" class="custom-radio">
                            <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
