@model KaleidoscopingViewModel
@{
    ViewData["Title"] = "Kaleido-scoping";
    var mosaicImages = Enumerable.Range(1, 14).Select(i => $"~/images/mosaics/mosaic-blue-{i}.png").ToArray();
    var random = new Random();
}
<head>
    <link rel="stylesheet" href="~/css/kaleidoscoping.css" asp-append-version="true" />
</head>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="text" id="editor">
            <p>

            </p>
        </div>
        <span class="kaleidoscope-closemodal">&times;</span>
    </div>
</div>

<div class="background-container background-image"></div>
<div class="main-container">
    <div class="mosaic-name" id="mosaic-name"></div>
    <div class="kaleidoscope-container" id="kaleidoscope-container">
        <div class="kaleidoscope-image-container" id="kaleidoscope-image-container">
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-1">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-1.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-2">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-2.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-3">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-3.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-4">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-4.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-5">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-5.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-6">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-6.png"/>
            </div>
            <div class="kaleidoscope-image-object" id="kaleidoscope-image-object-7">
                <img class="kaleidoscope-image-item" src="~/images/kaleidoscopes/kaleidoscope-7.png"/>
            </div>
            @foreach (var molarMosaic in Model.MolarMosaics!)
            {
                var randomBlueMosaicImg = mosaicImages[random.Next(mosaicImages.Length)];
                <a href="@Url.Action("Detail", "Home", new { id = molarMosaic.Id, objectType = "molarmosaic" })">
                    <img src="@Url.Content(randomBlueMosaicImg)" class="mosaic"
                         data-name="@molarMosaic.Title"
                         data-becomings="@if (molarMosaic.Becomings != null) { @string.Join(',', molarMosaic.Becomings) }"
                         data-tags="@string.Join(',', molarMosaic.KaleidoscopeTags!.Select(tag => tag.Name)):@string.Join(':', molarMosaic.AssemblageTagId)"/>
                </a>
            }
            @foreach (var molecularMosaic in Model.MolecularMosaics!)
            {
                var randomBlueMosaicImg = mosaicImages[random.Next(mosaicImages.Length)];
                <a href="@Url.Action("Detail", "Home", new { id = molecularMosaic.Id, objectType = "molecularmosaic" })">
                    <img src="@Url.Content(randomBlueMosaicImg)" class="mosaic"
                         data-name="@molecularMosaic.Title"
                         data-becomings="@if (molecularMosaic.Becomings != null) { @string.Join(',', molecularMosaic.Becomings) }"
                         data-tags="@string.Join(',', molecularMosaic.KaleidoscopeTags!.Select(tag => tag.Name)):@string.Join(':', molecularMosaic.AssemblageTagId)"/>
                </a>
            }
        </div>
    </div>
    <div class="tagmenu">
        <h2 class="tagmenu-title">Kaleido-scoping</h2>
        <hr/>
        <ul class="tagList">
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Id.ToString() != "1ac2b7b1-c3bf-4fc3-a5fb-37c88eeb1e97" @* Experiment *@
            && tag.Id.ToString() != "f2d2a02b-73bb-42e4-8774-2102ef9c3102" @* Assemblages *@)
                {
                    <li>
                        <div class="tag-kaleiitem">
                            <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Name:@tag.Id" data-content="@tag.Content" class="custom-radio">
                            <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                        </div>
                    </li>
                }
            }
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Id.ToString() == "f2d2a02b-73bb-42e4-8774-2102ef9c3102" @* Assemblages *@)
                {
                    <li>
                        <div class="tag-kaleiitem">
                            <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Name:@tag.Id" data-content="@tag.Content" class="custom-radio">
                            <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                        </div>
                    </li>
                }
            }
            @foreach (var tag in Model.KaleidoscopeTags!)
            {
                if (tag.Id.ToString() == "1ac2b7b1-c3bf-4fc3-a5fb-37c88eeb1e97" @* Experiment *@)
                {
                    <li>
                        <div class="tag-kaleiitem">
                            <input type="radio" id="tag_@tag.Name" name="check" data-tag="@tag.Name:@tag.Id" data-content="@tag.Content" class="custom-radio">
                            <label for="tag_@tag.Name" class="custom-radio-label">@tag.Name</label>
                        </div>
                    </li>
                }
            }
            <button id="kaleidoscope-openmodal">Open Modal</button>
        </ul>
    </div>
</div>
<script src="~/js/kaleidoscope.js" asp-append-version="true"></script>
