@model MolarMosaicsViewModel
@{
    ViewData["Title"] = "Molar Mosaics";
}
<head>
    <link rel="stylesheet" href="~/css/mosaics.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="mosaic-container">
    <div class="mosaic-float">
        @foreach(var mosaic in Model.MolarMosaics!)
        {
            <div class="mosaic" id="mosaic-@mosaic.Id" data-tags="@string.Join(',', mosaic.ConnectorTags!.Select(tag => tag.Name))">
                <a href="@Url.Action("Detail", "Home", new {id = mosaic.Id, objectType = "molarmosaic" })">
                    <img class="mosaicImg" src="~/images/mosaics/mosaic-yellow-1.png" />
                    <div class="mosaic-content">
                        <div>@mosaic.Title</div>
                        @foreach (var becoming in mosaic.Becomings!)
                        {
                            <div class="mosaic-becoming">@becoming</div>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img class="sidebar-btn-img" src="~/images/icons/arrow-right.png" /></a>
    <h3 class="sidebarLine">Connectors</h3>
    <ul class="tagList">
        @foreach (var tag in Model.ConnectorTags!)
        {
            <li>
                <div class="item">
                    <div class="filter-checkbox">
                        <input type="checkbox" id="@tag.Name" name="check" data-tag="@tag.Name">
                        <label for="@tag.Name">@tag.Name</label>
                    </div>
                </div>
            </li>
        }
    </ul>
    <h3 class="sidebarLine">Becomings</h3>
    <div class="becomings-btn" id="becomings-btn">Show Becomings</div>
</div>
<div id="main">
    <button class="openbtn" onclick="openNav()"><img class="sidebar-btn-img" src="~/images/icons/arrow-left.png" /></button>
</div>
<script src="~/js/mosaics.js" asp-append-version="true"></script>
