@model MolecularMosaicsViewModel
@{
    ViewData["Title"] = "Molecular Mosaics";
    var mosaicImages = Enumerable.Range(1, 14).Select(i => $"~/images/mosaics/mosaic-blue-{i}.png").ToArray();
    var random = new Random();
}

<head>
    <link rel="stylesheet" href="~/css/mosaics.css" asp-append-version="true" />
</head>

<div class="mosaic-container">
    <div class="mosaic-float">
        @foreach(var mosaic in Model.MolecularMosaics!)
        {
            var randomBlueMosaicImg = mosaicImages[random.Next(mosaicImages.Length)];
            <div class="mosaic" data-tags="@string.Join(',', mosaic.ConnectorTags!.Select(tag => tag.Name))">
                <a href="@Url.Action("Detail", "Home", new {id = mosaic.Id, objectType = "molecularmosaic" })">
                    <img class="mosaicImg" src="@Url.Content(randomBlueMosaicImg)" />
                    <div class="mosaic-content">
                        <div>@mosaic.Title</div>
                        @foreach (var becoming in mosaic.Becomings!)
                        {
                            <div class="mosaic-becoming">@becoming</div>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" opacity="0.7"> <path d="M0 976 400 576l-400-400-56 57 343 343-343 343 56 57Z" /></svg></a>
    <h3 class="sidebarLine">Connectors</h3>
    <ul class="tagList">
        @foreach (var tag in Model.ConnectorTags!)
        {
            <li>
                <div class="item">
                    <div class="filter-checkbox">
                        <input type="checkbox" id="@tag.Name" name="check" data-tag="@tag.Name">
                        <label for="@tag.Name">@tag.Name</label>
                    </div>
                </div>
            </li>
        }
    </ul>
    <h3 class="sidebarLine">Becomings</h3>
    <div class="becomings-btn" id="becomings-btn">Show Becomings</div>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()"><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" opacity="0.7"><path d="M400 976 0 576l400-400 56 57-343 343 343 343-56 57Z" /></svg></button>
</div>
@section Scripts {
    <script src="~/js/mosaics.js" asp-append-version="true"></script>
}
